* {
  /* margin: 0; */
  font-family: Courier New;
  background-color: 
    
    rgb(51, 112, 153)
    
  ;
 color: white

}

button {
  background-color:  rgb(31, 73, 100);
  border: 2px solid white;
  border-radius: 10px;
}

button:disabled {
  border: 2px solid black;
  background-color: #f0f0f0;
  color: black; 
  opacity: 0.60;
}

.welcome-modal {
  
  height: 50%;
  width: 50%;
  padding: 20px;
  background-color: 
    
    rgb(51, 112, 153)
    
  ;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: 
    
    rgb(51, 112, 153)
    
  ;
  color: white;
}

.modal-content > h3 {
  background-color: white;
  color: black;
}

.modal-content > section {
  background-color: white;
  color: black;
}



::backdrop {
  background-image: linear-gradient(
    45deg,
    rgb(0, 204, 255),
    rgb(61, 51, 153),
    dodgerblue,
    rgb(34, 0, 128)
  );
  opacity: 0.95;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: rgb(31, 73, 100);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: auto;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -110px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

button:hover {
cursor: pointer;
}


.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:15px;
}

.playerStats-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px;
  background-color: rgb(31, 73, 100);
  color: white;

}
.playerStats-container > img {
  height: 35px;
  width: 35px;
  background-color: rgb(31, 73, 100);
}

.playerStats-container > h3 {
  margin-right: 10px;
  background-color: rgb(31, 73, 100);
}

.playerStats-power-container {
  background-color: rgb(31, 73, 100);
}

.playerStats-power-container > h3 {
  background-color: rgb(31, 73, 100);
}


.playerStats-power {
  margin-right: 4px;
  height: 30px;
  width: 30px;
  
}


.round-counter-container {
  display: flex;
  gap: 10px;
  align-items: center;
 justify-content: center;
}

.round-counter-container .round {
 display: flex;
 align-items: center;
 justify-content: center;
 
 font-weight: 700;
  padding: 10px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  color: black;
  height: 10px;
}

.round-counter-container .round.active {
  border-color: gold;
  background-color: rgb(31, 73, 100);
  font-weight: bold;
  color: white
}

.header-btn-container {
  display: flex;
}

/* shop toggle btns */  

/* .active-btn {

}

.disabled-btn {
  
} */



/* main container stlyes */
.container {
  display: flex;
  flex-direction: column;
  
}

.center-content-container {
  display: flex; 
}



  .catch-log-container {
    width: 20vw;
    max-height: 40vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    
  }

  .catch-log-messages {
    overflow: scroll;
  max-height: 100%;
  
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.catch-log-messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.catch-log-messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  

.shop-cards-container {
    display: grid;
    width: 650px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
      overflow-x: hidden;
      overflow-y: hidden;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px black;
  border-radius: 20px;
  padding: 1px;
  width: auto;
  height: auto;
  grid-column: span 1; /* each item should span 1 column */
  grid-row: span 1; 
  min-width: 0; 
  min-height: 0;
  background-color: whitesmoke;
  color: black;

  

}

.card:hover {
    cursor: pointer;
}

.card-type {
  margin: 0;
  text-align: center;
  padding: 0.05rem;
  width: 90%;
  color: #ffffff;
  border-radius: 15px;
  font-size: small;
}

.card-type-bait {
  background-color: green;

}

.card-type-action {
  background-color: blue;

}

.card-type-companion {
  background-color: red;

}

.card-title {
  margin: 0;
  font-size: small;
  background-color: whitesmoke;
  color: black;
}

.card-description {
  text-align: center;
  margin: 0;
  font-size: smaller;
  background-color: whitesmoke;
  color: black;
}

.card-image {
  height: 22%;
  width: 22%;
  border-radius: 50%;
}


.card-cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1px;
  height: 15%;
  width: 15%;
  background-color: gold;
  border-radius: 50%;
  border: solid 1px black;
  color: black;
}






/* rockpool syling  */
.rockpool-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
    
}



/* pool syling  */
.pool-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; 
  width: 200px; 
  border-radius: 50%;
  border: dashed 10px rgb(245, 240, 240);
  background-image: linear-gradient(
    45deg,
    rgb(0, 140, 255),
    rgb(61, 51, 153),
    dodgerblue,
    rgb(34, 0, 128)
  );
  opacity: 0.65;

  
}

.pool-container:hover {
  cursor: pointer;
}

.active-pool {
  border: dashed 10px rgb(250, 246, 3);
}

.catch-image {
  background-color: transparent;
  height: 100px;
  width: 100px;
}


/* tide table  */
.tg  {
  border-collapse:collapse;border-spacing:0;}

  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}


.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}


.tg .tg-baqh{text-align:center;vertical-align:top}

.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}

.playerHand-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 0;
  height: auto;
  margin-left: 20px;
}

/* .active-card {
  position: relative;
  top: -20px; /* Adjust to position above held cards */
  /* z-index: 1; Ensure it appears above held cards */
  /* transition: top 0.3s; Smooth transition effect */
/* } */ 

.playerHand-held {
  display: grid;
  width: 1200px;
  height: 150px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 3px;
  margin-top: 0;
}

.playerHand-active {
  display: grid;
  width: 1200px;
  height: 150px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(1, 1fr);
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 3px;
  margin-top: 0;
}


.gameController-buttons {
  display: flex; 
  gap: 2rem;
  width: 150px;
  margin-left: 12rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
 
}



.right-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-left: 50px;
  margin-left: 25px
}

.tank-and-orders-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.player-tank {
  background-image: url(./assets/imgs/bg/underwater.jpg);
  background-size: cover;
  border: 5px solid black;
  border-top: 15px solid black;
  border-bottom: 15px solid black;
  
  height: 200px;
  width: 400px; 
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  flex-wrap:wrap-reverse;
  gap: 5px; /* Ensure there's no gap between flex items */
  padding: 0; /* Remove any padding from the container */

}

.tank-crab {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  position: relative;
  opacity: 0; /* Initial opacity set to 0 */
  transform: translateY(-100px); /* Initial position set above */
  animation: fall 1s forwards; /* Apply animation */
}

.player-tank:nth-child(1) {
  animation-delay: 0.2s;
}

.player-tank:nth-child(2) {
  animation-delay: 0.4s;
}

.player-tank:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fall {
  to {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to final position */
  }
}

.crab-de-jour-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 5px solid gold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
  border-radius: 20px;
  margin-top: 25px;
  background-color: white;
  color: black;

}

.crab-de-jour-container > img {
  height: 35px;
  width: 35px;
  background-color: white;
}

.crab-de-jour-container > h3 {
  color: black;
  background-color: white;
}


.orders-container {
  display: flex;
  gap: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  
  
  
}


.order-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  border: 2px solid white;
  background-color: rgb(188, 219, 247);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  gap: 0;

}

.order-card > h3 {
  background-color: rgb(188, 219, 247);
  color: #000;
  margin: 0;
}

.order-reward {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(188, 219, 247);
  margin: 0;
}

.order-reward > h3 {
 
  font-size: large;
  font-weight: bolder;
  background-color: rgb(188, 219, 247);
  color: black;
}

.order-reward > p {
  margin-right: 4px;
  font-size: large;
  font-weight: bolder;
  background-color: rgb(188, 219, 247);
  color: black;
}

.order-crabs {
  background-color: rgb(188, 219, 247);
}

.order-crabs > img {
  height: 30px;
  width: 30px;
  background-color: rgb(188, 219, 247);
  
}

.order-tick {
  height: 35px;
  width: 35px;
  background-color: rgb(188, 219, 247);
}

.order-coin {
  height: 35px;
  width: 35px;
  background-color: rgb(188, 219, 247);
}


.summary-coin {
  height: 35px;
  width: 35px;
}



.summary-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  

}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .summary-modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.summary-modal::-webkit-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.summary-modal > p {
  display: flex;
  align-items: center;
  justify-content: center ;
  height: auto;
  width: auto;
}




.modal-progressed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  height: 100%;
  width: 100%;
  gap: 10px;
  padding: 20px;

}


.power-selection-container {
  display: flex;
  gap: 5px
}

.power-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  text-align: center;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 20px;
  width: 150px;
  
}

.power-container > p {
  font-size: small;

}

.power-container > h3 {
  font-size: medium;
}

.power-container > img {
  height: 40px; 
  width: 40px
}



/* .playerHand-held > .card {
  height: 100px;
  width: 50px;
  font-size: 8px;
  padding: 1px;
}

.playerHand-held > .card > .card-title {
  font-size: 10px;
}


.playerHand-held > .card > .card-type {
  padding: 0 */

